<section id="hero" class="hero section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 content-col" data-aos="fade-up">
        <div class="content">
          {% if include.subtext %}
          <div class="agency-name">
            <h5>{{ include.subtext }}</h5>
          </div>
          {% endif %}

          <div class="main-heading">
            <h1>{{ include.title }}</h1>
            <p class="lead">{{ include.subtitle }}</p>
          </div>

          <div class="divider"></div>

          <div class="description">
            <p>{{ include.description }}</p>
          </div>

          {% if include.cta_text %}
          <div class="cta-button">
            <a href="{{ include.cta_link }}" class="btn">
              <span>{{ include.cta_text }}</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
          {% endif %}
        </div>
      </div>

      {% if include.image_url %}

      <div class="col-lg-5" data-aos="zoom-out">
        <div class="visual-content">
          <div class="fluid-shape">
            <img
              src="{{ include.image_url | relative_url }}"
              alt="{{ include.title }}"
              class="fluid-img"
            />
          </div>

          <!-- <div class="stats-card">
            <div class="stats-number">
              <h2>5K</h2>
            </div>
            <div class="stats-label">
              <p>Successful Campaigns</p>
            </div>
            <div class="stats-arrow">
              <a href="#portfolio"><i class="bi bi-arrow-up-right"></i></a>
            </div>
          </div> -->
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
